body{
  font-family: "Times New Roman", serif;
  font-size: 18px;
  background-color: var(--whiteBG);
}

#time, #day, #greetings{
  color: var(--font);
  letter-spacing: 0.5px;
}

#greetingContainer{
  background-color: var(--greyBG);
  padding: 1px;
  padding-left: 5px;
  border-radius: 2px;
}

#greetings{
  padding: 5px 0px 5px 10px;
  margin-left: 10px;
  border-left: solid var(--font) 4px;
  border-radius: 2px;
  font-size: 20px;
  font-weight: bold;
}

#time, #day{
  margin: 15px;
}

:root{
  --font: rgb(55, 53, 47);
  --greyBG: rgb(233, 229, 227);
  --whiteBG: rgb(255, 255, 255)
}
